@model Product
@using Microsoft.AspNetCore.Mvc.Rendering
<h1 class="text-center bg-primary text-white p-2">Product Page</h1>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "form-control"}))
{
    @* @Html.Label("Id", "ID: ") 
    @Html.TextBox("Id","1", new {@readonly = "true"}) *@
    @Html.LabelFor(model => model.Id, "ID")
    @Html.TextBoxFor(model => model.Id, null, new {@class = "form-control"})
    @Html.LabelFor(model => model.Name, "Name")
    @Html.TextBoxFor(model => model.Name, null, new {@class = "form-control", @placeholder = "Enter Your Name..."})
    @Html.LabelFor(model => model.SKU, "SKU")
    @Html.TextBoxFor(model => model.SKU, null, new {@class = "form-control"})
    @Html.LabelFor(model => model.Category, "Category: ")
    @Html.TextBoxFor(model => model.Category, null, new {@class = "form-control"})
    @Html.LabelFor(model => model.Price, "Price")
    @Html.TextBoxFor(model => model.Price, null, new {@class = "form-control"})
    @Html.LabelFor(model => model.InStock, "In Stock or Out Of Stock: ")
    <br>
    @Html.RadioButtonFor(model=> model.InStock, 1) <span>In Stock</span>
    @Html.RadioButtonFor(model => model.InStock, 0) <span>Out Of Stock</span><br><br>
    @Html.TextAreaFor(model => model.Description, 10, 50, new {@placeholder = "Write something here...", @class = "form-control", style = "resize: none"});
    @Html.RadioButton("Gender", "Male", false); <span>Male</span>
    @Html.RadioButton("Gender", "Female", false); <span>Female</span>
    @Html.RadioButton("Gender", "Others", true); <span>Others</span><br>
    @Html.RadioButtonFor(model => model.Gender, "Male"); <span>Male</span>
    @Html.RadioButtonFor(model => model.Gender, "Female"); <span>Female</span>
    @Html.RadioButtonFor(model => model.Gender, "Others"); <span>Others</span>

    @Html.DropDownList("Category", new List<SelectListItem>() {
            new SelectListItem() {Text = "Electronics", Value = "1"},
            new SelectListItem() {Text = "Clothing & Apparel", Value = "2"},
            new SelectListItem() {Text = "Home & Kitchen", Value = "3"},
            new SelectListItem() {Text = "Books & Stationery", Value = "4"},
            new SelectListItem() {Text = "Health & Beauty", Value = "5"}
        }, "-----Select A Product Category-----", new {@class = "form-control mt-2 mb-2"})

    @Html.DropDownListFor(model=>model.Category, new List<SelectListItem> () 
        {
            new SelectListItem() {Text = "Electronics", Value = "1"},
            new SelectListItem() {Text = "Clothing & Apparel", Value = "2"},
            new SelectListItem() {Text = "Home & Kitchen", Value = "3", Selected = true},
            new SelectListItem() {Text = "Books & Stationery", Value = "4"},
            new SelectListItem() {Text = "Health & Beauty", Value = "5"}
        }, null, new {@class = "form-control mb-2"})
    
    @Html.DropDownList("Category", ViewBag.Categories, "---Select A Category---", new {@class = "form-control mb-2"})
    @Html.DropDownListFor(model => model.Category, (IEnumerable<SelectListItem>)ViewBag.Categories, null, new {@class = "form-control mb-2"})
    @Html.DropDownList("Departments", new List<SelectListItem>(){
        new SelectListItem {Text = "IT", Value = "IT"},
        new SelectListItem {Text = "Electronics", Value = "Electronics"},
        new SelectListItem {Text = "HR", Value = "HR"},
        new SelectListItem {Text = "Mechanical", Value = "Mechanical", Selected = true}
    }, null, new {@class = "form-control mb-2"});
    @Html.DropDownList("Departments", new List<SelectListItem>(){
        new SelectListItem {Text = "IT", Value = "it"},
        new SelectListItem {Text = "Electronics", Value = "electronics"},
        new SelectListItem {Text = "HR", Value = "Hr"}
    }, "---Select Your Department---", new {@class = "form-control mb-2"})
    @Html.DropDownListFor(model => model.Category, new List<SelectListItem>(){
        new SelectListItem {Text = "AC", Value = "ac"},
        new SelectListItem {Text = "NON-AC", Value = "non-ac", Selected = true},
        new SelectListItem {Text = "Chair Coach", Value = "chair-coach"}
    }, null, new {@class = "form-control mb-2"});
    @Html.DropDownListFor(model => model.Category, new List<SelectListItem>(){
        new SelectListItem {Text = "AC", Value = "ac", Selected = true},
        new SelectListItem {Text = "NON-AC", Value = "non-ac"},
        new SelectListItem {Text = "Chair Coach", Value = "chair coach"}
    }, "---Select Your Seat Type---", new {@class = "form-control mb-2"})

    @Html.CheckBox("Hobby", true, new {@class = "form-check-input me-2", id = "gardening"})
    @Html.Label("Hobby", "Gardening", new {@class = "form-check-label me-2", @for = "gardening"})
    @Html.CheckBox("Hobby", true, new {@class = "form-check-input me-2", id = "hiking"})
    @Html.Label("Hobby", "Hiking", new {@class = "form-check-label me-2", @for = "hiking"})
    @Html.CheckBox("Hobby", false, new {@class = "form-check-input me-2", id = "reading"})
    @Html.Label("Hobby", "Reading", new {@class = "form-check-label me-2", @for = "reading"})
    @Html.CheckBoxFor(model => model.Hobby, new {@class = "form-check-input me-2", id = "singing"})
    @Html.LabelFor(model => model.Hobby, "Singing", new {@class = "form-check-label me-2", @for = "singing"});
    @Html.CheckBoxFor(model => model.Hobby, new {@class = "form-check-input me-2", id = "writing"})
    @Html.LabelFor(model => model.Hobby, "Writing", new {@class = "form-check-label me-2", @for = "writing"})
    @Html.CheckBoxFor(model => model.Hobby, new {@class = "form-check-input me-2", id = "scripting"})
    @Html.LabelFor(model => model.Hobby, "Scripting", new {@class = "form-check-label mb-2", @for = "scripting"})

    @Html.ListBox("Countries", new List<SelectListItem>(){        

        new SelectListItem {Text = "-----Select Countries Where You are a Citizen-----", Value = ""},
        new SelectListItem {Text = "Bangladesh", Value = "BD"},
        new SelectListItem {Text = "India", Value = "IN"},
        new SelectListItem {Text = "Pakistan", Value = "PK"},
        new SelectListItem {Text = "Saudi Arabia", Value = "SA"},
        new SelectListItem {Text = "Siriya", Value = "Siriya"}
    }, new {@class = "form-control"})
    @Html.ListBoxFor(model => model.Countries, new List<SelectListItem>(){
        new SelectListItem {Text = "-----Select Countries Where You are a Citizen-----", Value = ""},
        new SelectListItem {Text = "Bangladesh", Value = "BD"},
        new SelectListItem {Text = "India", Value = "IN"},
        new SelectListItem {Text = "Pakistan", Value = "PK"},
        new SelectListItem {Text = "Saudi Arabia", Value = "SA"},
        new SelectListItem {Text = "Siriya", Value = "Siriya"} 
    }, new {@class = "form-control mt-2"})
}